{% extends "layout.html" %}

{% block main %}
    <table class="table">

        <!-- TABLE HEADER -->
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Transacted</th>
            </tr>
        </thead>

        <tbody>

            <!-- ENTRIES -->
            {% for entry in entries %}
                <tr>
                    <td>{{ entry.symbol }}</td>
                    <td>{{ entry.shares }}</td>
                    <td>{{ entry.price | usd }}</td>
                    <td>{{ entry.timestamp }}</td>
                </tr>
            {% endfor %}

        </tbody>

    </table>
{% endblock %}
